<h1>Articles</h1>


<p *ngIf="!articles"><em>Loading...</em></p>
<app-article-new></app-article-new>
<table class='table' *ngIf="articles">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Total in Shelf</th>
      <th>Total in Vault</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of (articles | async).list">
      <td>{{ article.name }}</td>
      <td>{{ article.description }}</td>
      <td>{{ article.price }}</td>
      <td>{{ article.total_In_Shelf }}</td>
      <td>{{ article.total_In_Vault }}</td>
    </tr>
  </tbody>
</table>
